.inline-block {
    width: 500px;
    background-color: black;
    color: white;
    padding: 20px;
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

a {
    color: blanchedalmond;

}

.hello {
    font-size: 200px;
    padding-top: 200px;
    font-family: sans-serif;
    font-weight: 600;
}

img {
    width: 5%;
    height: auto;
}
/*.square {
    background-color: red;
    height: 100px;
    width: 100px;
    color: white;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 20px;
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
}

.relative {
    position: relative;
    top: 100px;
    right: 50px;
}

.fixed {
    position: fixed;
    bottom: 50px;
    right: 50px;
}