.inline-block {
    width: 300px;
    background-color: black;
    color: white;
    padding: 20px;
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    word-spacing: 30px;
    margin-right: 15px;
}

a:link {
    color: blanchedalmond;
    text-decoration: none;
}
a:visited {
    color: blanchedalmond;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
}

.hello {
    font-size: 200px;
    padding-top: 200px;
    font-family: sans-serif;
    font-weight: 600;
}

img {
    width: 5%;
    height: auto;
}

p {
    color: grey;
    margin-left: 15px;
    
}

button {
    margin-left: 15px;
    background-color: black;
    color: blanchedalmond;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background-color: blanchedalmond;
    color: black;
}